.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ItemsDiv {
  margin: 10px auto;
}

.ItemsTitle {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0;
}

.ItemsBody {
  text-align: left;
  font-size: 14px;
  margin-left: 0
}

.mainBody {
  padding: 20px 40px 40px 40px;
}

.searchBox {
  width: 50%;
  margin: 10px auto 30px auto;
}

.edit {
  padding: 15px 0;
}

.title {
  color: #0782b8;
}

.nav {
  color: #d651a3;
}